<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel-group" id="faq-accordion" role="tablist" aria-multiselectable="true">
      <% [
        {
          heading: "HOW DO I KNOW WHICH OPTION IS RIGHT FOR ME?",
          body: "If you are not sure which option will best fit you and your pups lifestyle, just ask! We are on top of things! Which means we usually respond within twenty-four hours or less. You can contact us through email or by phone via our Contact page."
        },
        {
          heading: "What if I want my dog to go on hikes, but he/she is not trained to be off leash? ",
          body: "If you are not sure which option will best fit you and your pups lifestyle, just ask! We are on top of things! Which means we usually respond within twenty-four hours or less. You can contact us through email or by phone via our Contact page."
        }, {
          heading: "How many dogs are on each hike? What is the dog – walker ratio?",
          body: "In each hike there are between 2 and four dogs. Our ratios are strictly, at most, 4 dogs – 1 human ratio! (this is the safest way to make sure everyone has fun)"
        }, {
          heading: "How do I get started?",
          body: "Contact us! After we exchange basic information, we will set up a meet and greet at a time that is convenient for you. This way we can learn more about each other and select the best service for you and your pup."
        }, {
          heading: "What if I need you last-minute?",
          body: "Last minute requests are for current clients only (through phone call or txt message). Because of safety reasons, we will only walk a dog who has been evaluated and has gone through all of the Back to Nature paperwork. Think you’ll need us soon? Get started today by accessing our Contact page. "
        }, {
          heading: "Can I set up regular weekly walks or hikes?",
          body: "Yes! In fact, most of our clients find that this is the best route Back to Nature and to good health. You can schedule your dog to be with us anywhere from once a year (a birthday present maybe?), once a month, once a week, or even five days a week. It is all dependent upon your needs!"
        }, {
          heading: "Do you walk on the weekends?",
          body: "While we are not scheduled to walk every weekend, we can plan ahead if you need your dog walked on a specific weekend. We can also refer you to a trusted colleague, should you decide you need regular weekend walks."
        }, {
          heading: "What if the weather is bad? Can you still come walk my dog?",
          body: "Back to Nature cares about the safety of both your pet and our walkers. We often hike in the rain, snow, sleet, and wind. However, if the weather is in any way dangerous, we ask that you have a backup plan if we cannot make it to your home. (Clients in the past have kept a neighbor on file who might be able to walk to their home if we cannot get there safely)."
        }, {
          heading: "Do I pay for a meet and greet? What are your rates?",
          body: "Meet and greets are free! This is an opportunity for us to get to know you and for you to get to know us. We would never charge you for inquiring about whether we are the right fit for you. Rates vary depending on the service you choose, as well as other factors such as distance and difficulty. If you have any specific questions about your pup, you can ask through our Contact page."
        }, {
          heading: "Are there any other services you offer?",
          body: "We offer a number of services, all listed on our Services page. If there is something else you require, like delivering medication or playing with your cat while you are we away, you are in luck! We offer what we call specified services to individual clients because we realize everyones needs are different! (Just inquire via our Contact page!)."
        }
      ].each_with_index do |item, index| %>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading-<%= index %>">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#faq-<%= index %>">
              Q:  <%= item[:heading] %>
            </a>
          </h4>
        </div>
        <div id="faq-<%= index %>" class="panel-collapse collapse <%= 'in' if index == 0 %>" role="tabpanel">
          <div class="panel-body">
            A: <%= item[:body] %>
          </div>
        </div>
      </div>
      <% end %>
    </div>

  </div>

</div>