---
title: Welcome to Middleman
---

<div id="carousel-id" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
			<%= image_tag 'sliders/slide-1.png', class: 'carousel-image' %>
        </div>
        <div class="item">
			<%= image_tag 'sliders/slide-1.png', class: 'carousel-image' %>
        </div>
        <div class="item">
			<%= image_tag 'sliders/slide-1.png', class: 'carousel-image' %>
        </div>
    </div>
    <div class="container">
    	<a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	    <div class="carousel-caption">
	    	<div class="box">
		        <h1>Back to Nature Pet Care</h1>
		        <p class="tagline">Serving Pet Owners in Westchester County, NY.</p>
	        </div>
	    </div>
	    <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	</div>
</div>

<div class="container">
	<section class="site-section">
		<h2 class="text-center">About Us</h2>
		<h3 class="text-center">Dog & Pet: walking, hiking, house & pet sitting, basic training, health/fitness</h3>

		<div class="row">
			<div class="col-md-6">
				<figure class="thumbnail pull-left">
					<%= image_tag "nicole.png"%>
				</figure>
				<h4>My Name is Nicole Refino</h4>
				<p>and I am the President of BTNPets.</p>
				<p>This site will make you aware of thegreat things we do at BTNpets (Backto Nature Pet Care).</p>
				<p>Our company helps your dog get backto nature.  This is a healthy place for adog to be.This means grooming, running/hiking,basic training, health/fitness.</p>
				<p>This means grooming, running/hiking, basic training, health/fitness.</p>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-6">

					</div>
					<div class="col-md-6">
						<h4>We are Located</h4>
						<p>10 Osage Dr. East<br>
						Ossining, NY 10562</p>
						<p>e: btnpetcare@gmail.com<br>
						p: 917.968.2633</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="site-section">
		<h2 class="text-center">Services</h2>
		<h3 class="text-center">Let us take care of your pets just like you would &elipsis; WITH LOVE</h3>

		<div class="row">
			<div class="col-md-6">
				<figure class="thumbnail pull-left">
					<%= image_tag "neighborhood-walks.png"%>
				</figure>
				<h4>NEIGHBORHOOD WALKS</h4>
				<p>Gone for most of the day? No one home to let the dog out, or go for a stroll so  your pup can feel the wind in his or her  fur? Well, you have come to the right  place! Neighborhood walks are leashed  walks within walking distance from your  home, lasting from 15 to 20minutes. This  option is perfect for pups that just need a  breather mid day, mid morning, or a  couple of hours before you get home from  work! And a little lovin' is always included,  gratis! (Because we love what we do!).</p>
			</div>
			<div class="col-md-6">
				<figure class="thumbnail pull-left">
					<%= image_tag "house-dogsitting.png"%>
				</figure>
				<h4>HOUSE AND DOG SITTING</h4>
				<p>If you travel, EVER, this is a great option for  you! And is preferred by most clients (both  two-legged and four-legged). Who doesn't  appreciate going away knowing their pup  and home and just where you left them,  safe and sound?! We not only provide care for  your dog including a sleepover and three neighborhood walks (booked per twenty-four  hour periods), but also mail retrieval, and  feeding of other pets in your home.  .</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<figure class="thumbnail pull-left">
					<%= image_tag "basic-training.png"%>
				</figure>
				<h4>My BASIC TRAINING</h4>
				<p>Starting with the basics is a GREAT START!  Even before you bring your pup home, there  are things you should know! We can help,  and guide through developing a strong  relationship with your pup and solidifying  the foundations of a healthy furry family!</p>
			</div>
			<div class="col-md-6">
				<figure class="thumbnail pull-left">
					<%= image_tag "with-ball.png"%>
				</figure>
				<h4>RUNNING/HIKING</h4>
				<p>Have an active dog that just can't get enough  of the outdoors? Do they let you know as soon  as you get home and "attempt" to relax? Or  maybe you just know what it means to be a dog... (in the best way possible, obviously) What we  mean is, you know Nature is a dogs best ally,  mud is a dogs best accessory, and there can  never be too many playdates at the park! Hikes  are, by far, our best option to get your pup back  to nature! Hikes are anywhere from 40 minutes to an hour and fifteen minutes of off leash play  time with the Back to Nature Pack! (pick up and  drop off is included!) And a little lovin' is always  included, gratis! (Because we love what we do!)</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<figure class="thumbnail pull-left">
					<%= image_tag "health-diet.png"%>
				</figure>
				<h4>HEALTH/FITNESS & DIET</h4>
				<p>Although we do not currently offer a service for consultation on these things, it is at the top of  our list! Making sure your dog gets exercise and a little fresh air is only part of the story! There  are so many other ways to get Back to Nature. A healthy diet, and a healthy body are also very  important! We are looking into incorporating more diet and health related tools and consultation  into our available Services. We appreciate what our clients have to say, so you if you have any  suggestions or requests we welcome you to send them in on our Contact page! (We are always  looking to improve, and we always find our four-legged families always know best!)</p>
			</div>

		</div>

	</section>
	<section class="site-section">
		<h2 class="text-center">Contact Us</h2>
		<div class="col-md-4">
			<h4>Owner: Nicole Refino</h4>
			<p>Phone: 917.968.2633<br>
			10 Osage Dr. East<br>
			Ossining, NY 10562</p>
			<p>btpetcare (at) gmail.com</p>
		</div>

		<div class="col-md-8">
			<h4>Feel Free to use this Form to Contact Us Directly:</h4>

			<form class="form-horizontal">
				<div class="form-group">
					<label for="inputEmail3" class="sr-only control-label">Email</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
					</div>
				</div>

				<div class="form-group">
					<label for="inputEmail3" class="sr-only control-label">Email</label>
					<div class="col-sm-8">
						<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
					</div>
				</div>

				<div class="form-group">
					<label for="inputEmail3" class="sr-only control-label">Email</label>
					<div class="col-sm-8">
						<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
					</div>
				</div>

				<div class="form-group">
					<label for="inputEmail3" class="sr-only control-label">Email</label>
					<div class="col-sm-8">
						<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
					</div>
				</div>

				<div class="form-group">
					<label for="inputEmail3" class="sr-only control-label">Email</label>
					<div class="col-sm-12">
						<textarea class="form-control" id="inputEmail3" placeholder="Email"></textarea>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">Sign in</button>
					</div>
				</div>
			</form>

		</div>
	</section>
	<section class="site-section">
		<h2 class="text-center">FAQs</h2>
		<h3 class="text-center">Dog & Pet: walking, hiking, house & pet sitting, basic training, health/fitness</h3>
	</section>
	<section class="site-section">
		<h2 class="text-center">SITES WE LOVE</h2>
		<h3 class="text-center">Here are a few sites that we love!</h3>
		<div class="row">
			<div class="col-md-3 footer-site">
				<figure class="figure">
					<%= image_tag('holistic-food.png', class: 'img-responsive' )%>
					<figcaption>
						HOLISTIC & NATURAL DOG DIETS, VACCINES, & REMEDIES FOR FLEAS
					</figcaption>
				</figure>
			</div>
			<div class="col-md-3 footer-site">
				<figure class="figure">
					<%= image_tag('adoption.png', class: 'img-responsive' )%>
					<figcaption>
						SAVE A LIFE & ADOPT A HOMELESS PET  TODAY!
					</figcaption>
				</figure>
			</div>
			<div class="col-md-3 footer-site">
				<figure class="figure">
					<%= image_tag('westchester-parks.png', class: 'img-responsive' )%>
					<figcaption>
						WESTCHESTER HAS OVER 50 PARKS & REC AREAS TO EXPLORE. CHECK THEM OUT!
					</figcaption>
				</figure>
			</div>
			<div class="col-md-3 footer-site">
				<figure class="figure">
					<%= image_tag('cesar.png', class: 'img-responsive' )%>
					<figcaption>
						DOG APPROVED PEOPLE FOOD . . .& OTHER TIPS FROM CESAR MILLAN
					</figcaption>
				</figure>
			</div>
		</div>
	</section>
	<footer>
		<p class="text-center">As you can tell, we here at BTN Pet Care love nature and we like to give back. So check out  this site where "The Green Living Guy" Seth Leitman  (a green living expert, a green living  news reporter, a green living guru,  and an electric car expert) has a lot of tips on how you can</p>
	</footer>
</div><!-- .welcome -->







